.footer__background {
    background: #252422;
    color: white;
}

.footer__left {
    padding-inline: 11em;
}

.footer__left h2 {
    padding-bottom: 5em;
}

.line{
    border-bottom:1px solid white;
}

.footer__padding {
    padding-bottom: 5em;
}