/* nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 7%;
    width: 100vw;
  
  }
  
  nav h3 {
    padding-right: 13rem;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;  
    width: 55%;  
  } */
  
  .link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  

  /* NAVITAGION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 0;
  width: 80vw;

}

nav h2 {
  padding-left: 12rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none; 
  
  width: 35%;  
}

nav ul li {
  padding-left: 55px ; 
  font-size: 1em;  
}

